0x05-python-exceptions/4-main.py
0x05-python-exceptions/100-main.py
0x05-python-exceptions/101-main.py
0x05-python-exceptions/__pycache__/4-list_division.cpython-38.pyc
0x05-python-exceptions/__pycache__/100-safe_print_integer_err.cpython-38.pyc
